/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online/Knowledge Base/ */

:root
{
	--Lightest: #FFFFFF;
	--Dark: #383838;
	--FontFamily: Roboto;
	--LogoImage: url('../Images/Assets/AX Logo/AX-Horiz-Logo-Reversed (2).png');
	--Primary: #007BA1;
}

